@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sample Page</h1>
    <p class="lead">Sample Asp.Net Mvc Page</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        Sample data goes here..
    </div>
</div>